 body {  
  background-image: url('https://i.pinimg.com/originals/26/07/1d/26071d46d512ce20032c1f0a5a12f76f.jpg');
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Prompt', sans-serif;
 }
   
 header
   {
     background-color: rgb(183, 196, 255);
     color: #ffffff;
     height: 50px;
     padding:10px;
   }

   footer{
     background-color: rgb(183, 196, 255);
     color: #ffffff ;
     height: 70px;
     padding: 10px;
     text-align: center;
   }

.mainpage {
     width: 1024px;
     margin: 0 auto;
   }
   
     .headname{
      color: #ffffff ;
     }
